<ion-header padding right>
    <ion-grid>
        <ion-row>
            <ion-col align-self-start size="1">
                <ion-menu-toggle auto-hide="false">
                    <ion-icon name="menu"></ion-icon>
                </ion-menu-toggle>
            </ion-col>

            <ion-col align-self-end size="11">
                <ion-img src="./assets/images/LOGO.svg" class="logo"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="registerAction()">
        <ion-item>
            <ion-input required type="text" placeholder="Nombres:"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input required type="text" placeholder="Apellidos:"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input required type="email" placeholder="Email:"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input required type="password" placeholder="Password:"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" routerLink="/dashboard">Crear Cuenta</ion-button>
        <ion-button expand="full" color="danger" routerLink="/home">Atras</ion-button>
    </form>
</ion-content>