<ion-header padding right>
  <ion-grid>
    <ion-row>
      <ion-col align-self-start size="1">
        <ion-menu-toggle auto-hide="false">
          <ion-icon name="menu"></ion-icon>
        </ion-menu-toggle>
      </ion-col>

      <ion-col align-self-end size="11">
        <ion-img src="./assets/images/LOGO.svg" class="logo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card">
    <ion-img src="./assets/images/dash3.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Iniciar sesión</ion-card-subtitle>
      <ion-card-title>Bienvenido A PhotoMax</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>¡Ahora puedes compartir, descargar y subir todas las fotos que tu quieras!.</p>
    </ion-card-content>
  </ion-card>

  <form (submit)="loginAction($event)">
    <ion-item>
      <ion-input placeholder="Iniciar Sesion" name="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="password" placeholder="Password:" name="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Iniciar Sesion</ion-button>
    <ion-button expand="full" color="danger" routerLink="/register">registrarse</ion-button>
  </form>
</ion-content>